body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	min-height: 100vh;
	background: #f3f3f3;
	flex-direction: column;
	margin-left: 20px;
}

.heading {
	font-size: 2em;
	margin-bottom: 0.5em;
	color: green;
}

.main {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	transition: transform 0.2s;
	width: 100%;
}  

.login-signup{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-signup h1 {
	color: #4CAF50;
}

/* .login-signup h2{
	text-align: center;
} */

label {
	display: block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	color: #555;
	font-weight: bold;
}

input {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
}

button {
	padding: 15px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	color: white;
	cursor: pointer;
	background-color: #4CAF50;
	width: 100%;
	font-size: 16px;
}

.btn{
	width: auto;
	padding: 4px 8px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 6px;
}

.errors {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.login-header{
	display: flex;
	align-items: center;
}

.logo-img{
	width: 140px;
	height: 140px;
}

.login-header{
	font-size: 32px; 
}

.blog{
	border: 2px solid #ddd;
	margin-bottom: 5px;	
	padding-left: 10px;
	padding-right: 10px;
}

.blog div {
	display: flex;
	justify-content: space-between;
	align-items: first baseline;
}

.blog div > ul{
	margin-bottom: 0;
	padding-bottom: 0;
}

.blog p {
	font-size: 16px;
	margin-bottom: 0;
}

.blog .view-button{
	width: auto;
	padding: 4px 8px;
	margin-left: 6px;
	font-size: 14px;
	font-weight: bold;
}

.title{
	font-size: 20px;
	font-weight: bold;
}

.user-info{
	display: flex;
	align-items: center;
	margin-bottom:0 ;
}

.user-info .user{
	font-size: 16px;
	font-weight: bold;
}

.user-info button{
	width: auto;
	padding: 4px 8px;
	margin-left: 6px;
	font-size: 14px;
	font-weight: bold;
}

.add-blog-form input{
	padding: 4px;
}

.add-btn{
	width: auto;
	padding: 4px 8px;
	font-weight: bold;
	font-size: 14px;
}

.message {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-radius: 5px;
  border: 2px green solid;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: fit-content;
}

.error{
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-radius: 5px;
  border: 2px red solid;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: fit-content;
}


.likes{
	display: flex;

}